.main__btn{
    padding: 14px 39px;
    background-color: #FCB72B;
    border: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    min-width: 180px;
    height: 53px;
    border: transparent;

    &:hover{
        opacity: 0.8;
        color: #333;
        background-color: greenyellow;
        transform: scale(1.1);
        transition: .3s ease;
        }
    &:active{
        opacity: 0.6;
    }
}

.header__btn{
    margin-left: 55%;
}
// RESPONSIVE

@media only screen and (max-width:375px){

    .main__btn{
        display: none;
    }
}