.header{

    padding:22px 0;

    &__container{
        display: flex;
        align-items: center;
    }
    &__logo{
        margin-right: 58px;
        border: transparent;
    }
    &__logo:hover{
        transform: scale(1.15);
        transition: .3s ease;
    }
}